<% quantity = details['quantity'].to_i %>

<% if product = Product.find_by(id: details['product_id']) %>
  <% item_total = product.price * quantity %>
  <% @order_total += item_total %>


      <h4><%= product.name %></h4>

     <p> Quantity: <%= quantity %> </p>

     <p> Item total: $<%= item_total %> </p>

<% end %>
